.Loading{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 20vh;
}

.Loading h1{
    color: #1976d2
}
.Loading h1:hover{
    color: #1976d2
}

