.NewRaffleForm{
    /* border: 2px solid green; */
    width: 100%;
}

.NewRaffleForm h3{
    text-align: center;
}

.NewRaffleForm-content form{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}

.NewRaffleForm-content-text{
    /* font-size: 18px; */
    margin: 10px;
    text-align: center;
}

.NewRaffleForm-content-button{
    text-align: center;
    padding: 20px;
}


